<ion-view title="About" id="page7">
  <ion-content padding="true" class="has-header">
    <h1 id="about-heading1" style="color:#000000;">Developer Team</h1>
    <div id="about-markdown1" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 50px;"></div>
    <div id="about-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;"><b>Team Members</b></p>

      <p style="color:#000000;">Anthony See Chin Siong B031410139</p>
	  <p style="color:#000000;">Khoo Chee Wei  B031410150</p>
	  <p style="color:#000000;">Shella Sarah Daud  B031410232</p>
	  <p style="color:#000000;">Tan Yong Hor B031510063</p>
	  <p style="color:#000000;">Too Yi Hang B031410180</p>
    </div>
  </ion-content>
</ion-view>