<ion-view title="History" id="page8">
  <ion-content padding="true" class="has-header">
      <h1 id="history-heading1" style="color:#000000;">Completed Tasks</h1>
    <div id="history-markdown1" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="height: 50px;"></div>
	
	<div align="right">
	<button id="history-button3" class="button button-positive">Clear History!</button>
	</div></br>
	
      <div class="item item-body" id="history-list-item-container1">
        <div id="history-markdown4" class="show-list-numbers-and-dots">
       
        </div>
      </div>
	  
	  <button id="history-button1" class="button button-positive  button-block">Refresh</button>
		</br></br>
  </ion-content>
</ion-view>